node_modules
npm-debug.log
build
**/.DS_Store
**/node_modules
.env
.dev.env
.eslintignore
.eslintrc.json
.exemple.env
.lintstagedrc
.prettierignore
.prettierrc.js
Dockerfile
jest.config.js
README.md
.vscode
